/* Default styles being applied to website */
/* Order of CSS reorganized according to order of occurence in HTML */

* {
    color: #161430;
    box-sizing: border-box;
    transition-duration: 0.15s;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    width : 88vw;
    margin: auto;
    height: 100%;
    display: grid;
    overflow: auto;
    background-color: rgb(170, 219, 241);
}

header {
    width : 100%;
    display: grid;
    margin: 15px 0;
    padding: 0 25px;
    border-radius: 2px;
    align-items: center;
    justify-items: center;
    border: 1.5px solid darkblue;
    background-color: rgb(42, 89, 228);
    grid-template-columns: auto auto auto;
}

header h1, label {
    color: white;
    font-weight: 700;
}

h1,th:hover {
    color: rgb(251, 255, 0);
}

#data-options {
    margin: 0 10px;
}

img {
    width : 30px;
    height: 30px;
}

#search-bar {
    border-radius: 3px;
    border: 2px solid black;
}

#search-button {
    margin-left:5px;
}

#data-option {
    margin-left: 10px;
}

#data-table {
    width: 100%;
    margin: 0 auto 20px auto;
    border-collapse: collapse;
    border: 2px solid darkblue;
}

#data-table th, td {
    padding: 10px;
    text-align: left;
    width: fit-content;
    border: 1.2px solid darkblue;
}

#data-table tr {
    background-color: #eeeeee
}

#data-table tr:hover {
    background-color: rgb(142, 170, 245);
}

#data-table th {
    color: white;
    text-align: left;
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: rgb(42, 89, 228);
}

/* Media Query and CSS Styles For Mobile Devices */
/* Syling CSS to be used when viewport width is less then 840px */

@media screen and (max-width: 840px) {

    header {
        display: flex;
        align-items:center;
        padding-bottom: 15px;
        flex-direction: column;
    }
    
    #data-options {
        margin-bottom: 20px;
    }

    #search-button {
        width: fit-content;
    }

    table, tbody, th, td, tr { 
		display: block;
    }
    
    th { 
        display: none;
    }

    tr {
        display: flex;
        flex-direction: column;
        border-bottom: 2px solid darkblue;
    }
    
    td { 
        width: 100%;
        border: none;
        text-align: left;
        position: relative;
        border-bottom: 1.2px solid darkblue;
    }

}

